body {
  background-color: rgb(204, 204, 204);
}
/* _______________Home Page (index)_________________________ */

.button {
  background-color: #6da56e;
  border-radius: 8px;
  border: none;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.index h1 {
  text-align: center;
  font-size: 50px;
}
.index h2 {
  font-size: 30px;
  text-decoration: underline;
}

.index ol {
  font-style: italic;
  font-size: 20px;
}

.index ol,
li,
a {
  text-decoration: none;
  color: black;
}

/* ______________CV (domaci_1)____________________________ */

.domaci_1 h1 {
  text-align: center;
  font-size: 50px;
}

.domaci_1 h2 {
  font-size: 30px;
}

.domaci_1 p {
  font-size: 20px;
}

.responsive {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 20%;
}

.domaci_1 ol {
  font-size: 20px;
}

.domaci_1 ul {
  font-size: 20px;
}

.domaci_1 table,
tr,
td {
  border: 1px solid;
  font-size: 20px;
}

/* Buttoni u footer-u na stranici domaceg rada */

.btndomaci_1 {
  background-color: #6da56e;
  border-radius: 8px;
  border: none;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btndomaci_1:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btndomaci_2 {
  background-color: #6da56e;
  border-radius: 8px;
  border: none;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btndomaci_2:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* _____________registration form________________ */

.reg_form1 h1 {
  text-align: center;
  font-size: 50px;
}

.submit1 {
  background-color: #6da56e;
  border-radius: 8px;
  border: none;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.submit2 {
  background-color: #6da56e;
  border-radius: 8px;
  border: none;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
