body {
  background-color: rgb(204, 204, 204);
}
/* _______________Home Page (index)_________________________ */

.index h1 {
  text-align: center;
  font-size: 50px;
}
.index h2 {
  font-size: 30px;
  text-decoration: underline;
}

.index ol {
  font-style: italic;
  font-size: 20px;
}

.index ol,
li,
a {
  text-decoration: none;
  color: black;
}

/* ______________CV (domaci_1)____________________________ */

.domaci_1 h1 {
  text-align: center;
  font-size: 50px;
}

.domaci_1 h2 {
  font-size: 30px;
}

.domaci_1 p {
  font-size: 20px;
}

.responsive {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 20%;
}

.domaci_1 ol {
  font-size: 20px;
}

.domaci_1 ul {
  font-size: 20px;
}

.domaci_1 table,
tr,
td {
  border: 1px solid;
  font-size: 20px;
}

.domaci_1 button {
  background-color: rgb(109, 109, 255);
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}
